.board-index {
    grid-column: 2/3;
    margin-left: 10px;
    overflow: scroll;

.typeModal_2e88e127f4 {
    box-shadow: var(--box-shadow-small, #e6e9ef);
}
.border-index-body {
    padding-left: 20px;
    padding-right: 20px;
}

.board-list-dialog {
    width: 100%;
    
  }

    .collapsible-header {
        margin-top: 2px;
        margin-bottom: 0;
        margin-left: 24px;


        .collapsible-title {
            font-size: rem(18px);
            margin-left: 5px;
        }
    }
    .board-index-template {

        
        .board-index-banner {
            object-fit: cover; 
            border: 1px solid #e6e9ef;
            border-radius: 8px; 
            width: 100%; 

        }
    
    }
    
}
