.sort-content {
  position: fixed;
  // top: 50px;
  left: 45;
  background-color: #fff;

  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-family: $font-family-primary;
  font-size: 18px;
  margin-bottom: 16px;
}

.sort-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-option {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.sort-option label {
  margin-bottom: 8px;
  font-family: $font-family-primary;
  font-size: 14px;
  color: #333;
}

.sort-option select {
  padding: 8px;
  font-size: 14px;
  font-family: $font-family-primary;
  border: 1px solid #ccc;
  border-radius: 4px;
}
