.person-modal {
  position: fixed;

  left: 400px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-modal p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.person-modal p:first-child {
  font-weight: bold;
}

.person-modal p:nth-child(2) {
  margin-top: 1px;
  color: #888;
}

.person-modal .members {
  display: flex;
  margin-top: 16px;
}

.person-modal .save-button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  color: #666;
  padding: 8px 12px;
  cursor: not-allowed;
  margin-top: 16px;
}
