.sort-content {
    width: 550px;
    height: 145px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sort-by {
    color: rgba(128, 128, 128, 0.742);
    font-family: $font-family-primary;
    font-size: 18px;
    font-weight: 500;
}

.sort-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-option {
    font-family: $font-family-primary;
    display: flex;
    font-family: $font-family-primary;
    flex-direction: column;

    width: 48%;
}

.sort-option label {
    margin-bottom: 8px;
    font-family: $font-family-primary;
    font-size: 14px;
    color: #333;
}

.sort-option select {
    padding: 8px;
    font-size: 14px;
    font-family: $font-family-primary;
    border: 1px solid #ccc;
    border-radius: 4px;
}
