.activity-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    padding-inline-start: 10px;
    row-gap: 30px;
    column-gap: 40px;
}

.activity-container li {
    display: contents;
    align-items: center;
    padding: 20px 0;
}

.activity-container-avatar {
    display: flex; 
    align-items: center; 
    margin-right: 15px;
    grid-column: 2;
    gap: 20px;
}

.activity-container-active-time {
    grid-column: 1;
    margin-right: 10px;
    color: $Mgray3;
}

.activity-container-activity {
    grid-column: 3;
    // text-align: right;
    & p {
        margin: 0;
    }
}

.custom-avatar {
    border-radius: 50%;
}
