.ai-loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgb(197, 197, 197);
    z-index: 9999;
    max-width: 400px;
    width: 100%;
    margin-block-end: 13px;

    .ai-loading-content {
        .ai-icon {
            padding-block-start: 8px;
            width: 35px;
            margin: 0 auto;
            margin-bottom: 8px;
            opacity: 0.8;
        }

        .ai-title {
            margin: 0;
            text-align: center;
            font-size: 1.3rem;
            color: #000000b9;
        }
    }
}

.breadcrumb-container {
    display: flex;
    justify-content: center;
    margin-block-start: 5px;
    margin-block-end: 4px;
}

.breadcrumb-step {
    color: #141414;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 5px;
    opacity: 0;
    transition: 0.3s;

    &.isActive {
        opacity: 1;
    }

    &.completed {
        opacity: 1;
    }

    &:not(:last-child)::after {
        content: '>';
        font-size: rem(10px);
        margin-left: 10px;
        font-family: 'Font Awesome 6 Free';
        color: #aaa;
    }
}
