.app-header {
    display: flex;
    min-height: 3.5rem;

    background-color: $Mbgr3;
    padding: rem(10px) 1rem;


    
    nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        font-size: .8em;

        .active {
            color: $clr1;
        }

        .headline {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em; /* Space between logo and text */

            .logo-img {
                height: 100%;
                max-height: 3.5rem; /* Adjust as needed */
            }

            .headline-text {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-inline-start: 10px;

                .company-name, .app-name {
                    margin: 0;
                }

                .company-name {
                    font-weight: $font-weight-extra-bold;
                } 
    
                .app-name {
                    font-weight: $font-weight-light;
                }
            }
        }

        .login-link {
            margin-inline-start: auto;
        }

        button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: $clr1;

        .score {
            padding: 8px;
            background-color: $clr2;
            border-radius: 50%;
            margin: 10px;

            color: $clr6;
        }

        img {
            width: 32px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
        
        .btn-link {
            color: $clr2;
        }
    }
}