.app-header {
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
    min-height: 3.5rem;
    color: $Mgray4;
    background-color: $Mbgr3;
    padding: rem(10px) 1rem;
    display: flex;
    justify-content: space-between; // Ensure space-between for main sections
    align-items: center;

    .headline {
        display: flex;
        align-items: center;
        gap: 0.5em;
        
        .logo-img {
            height: 100%;
            width: 25px;
            aspect-ratio: 1;
            justify-self: start;

        }

        .headline-text {
            display: flex;
            gap: 5px;

            .company-name,
            .app-name {
                margin: 0;
            }

            .company-name {
                font-weight: $font-weight-extra-bold;
                justify-self: start;

            }

            .app-name {
                font-weight: $font-weight-light;
            }
        }
    }

    .login-link {
        display: flex;
        align-items: center;
        gap: 1em; // Adjust the gap as needed

        .user-info {
            display: flex;
            align-items: center;
            gap: 0em; // Adjust the gap as needed

            color: $clr1;

            .app-logo {
                width: 32px;
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .custom-avatar {
                border-radius: 50% !important;
                object-fit: cover; 
            }

            .btn-link {
                color: $clr2;
            }
        }
    }
}