.app-header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: minmax(2%, auto, 2%);
  min-height: 3.5rem;
  color: $Mgray4;
  background-color: $Mbgr3;
  padding: rem(10px) 1rem;
  grid-template-areas: '. logo company app login . ';
  z-index: 1; 

  nav {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 1em;
    align-self: flex-start;

    .headline {
      display: flex;
      align-items: center;
      gap: 0.5em; /* Space between logo and text */

      .logo-img {
        height: 100%;
        width: 32px;
        aspect-ratio: 1;
        margin-right: 10px;
        justify-self: start;
        grid-area: logo;
      }
      .headline-text {
        display: flex;
        gap: 5px; // Space between company name and app name

        .company-name,
        .app-name {
          margin: 0;
        }

        .company-name {
          font-weight: $font-weight-extra-bold;
          justify-self: start;
          grid-area: company;
        }

        .app-name {
          font-weight: $font-weight-light;
          justify-self: start;
          grid-area: app;
        }
      }
    }

    .login-link {
      margin-inline-end: auto; // Push login link to the right if needed
      justify-self: end;
      grid-area: login;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-inline-start: auto;

      color: $clr1;

      .score {
        padding: 8px;
        background-color: $clr2;
        border-radius: 50%;
        margin: 10px;
        color: $clr6;
      }

      img {
        width: 32px;
        aspect-ratio: 1;
        border-radius: 50%;
      }

      .btn-link {
        color: $clr2;
      }
    }
  }
}
