
.board-list-flex {
    margin-bottom: 10px;
    padding: 20px;
}

.board-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 16px;
    padding-block-start: 0px;
  }
