.board-preview-container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    padding: 8px;
    width: 270px;
    height: 223px;
    z-index: -1;

    &:hover {
        box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.2);
    }

    .board-preview-img {
        width: 100%;
        height: auto;
        border: 0.5px solid #ddd;
        border-radius: 5px;
    }

    .board-preview-item-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px;
        color: $Mgray4;

        .board-preview-title-wrapper {
            display: flex;
            align-items: center;

            .board-icon {
                margin-left: -5px;
            }

            .board-preview-title {
                margin-left: 8px;
                font-size: rem(16px);
                font-weight: bold;
            }
        }

        .starred-btn {
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: rem(16px);
            padding: 0;

            &button {
                background-color: transparent;
            }
        }
    }

    .board-preview-navigation {
        display: flex;
        align-items: center;
        font-size: rem(14px);
        color: $Mgray3;
        white-space: nowrap;
        padding-block: 5px;
        vertical-align: baseline;

        img {
            width: rem(16px);
            height: auto;
            margin-bottom: 3px;
            margin-right: 5px;
        }
        p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            line-height: 21px;
            text-align: start;
        }
    }

    .yellow-star-icon {
        color: #ffcb00 !important;
        font-size: rem(16px) !important;
    }

    .monday-icon {
        font-size: rem(16px) !important;
    }
}
