.board-builder-container {
    width: max-content;
    margin: 10px auto;
    padding: 0 10px;
    gap: 2px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    * {
        font-family: $font-family-primary;
    }
    input {
        border: none;
        outline: none;
    }
    .night-icon {
        transition: 0.3s;
        &:hover {
            background: none;
            color: #6f6dff;
        }
    }
    .mic-icon {
        transition: 0.3s;
        &:hover {
            background: none;
            color: #0073ea;
        }
    }
}
