.group-preview {
    // position: sticky;
    // top: 0;
    padding: 20px;
    border-radius: 8px;

    h2 {
        color: #333;
        margin-bottom: 20px;
    }
}

.monday-style-table {
    th,
    td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }
}

.editable-title {
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background: none;
    margin-block-end: 0.83em;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 0;
}
