.sidebar {
  .add-button-dialog {
    display: flex;
    justify-content: flex-end;
    margin-inline-end: 12px;
  }
}

.search-bar {
  &:focus {
    outline: none;
    border-color: #007bff;
    transform: scale(1.05);
  }
}
