.progress-bar {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transition: none;
        transform: scaleY(1.3);
    }
}

.drag-handle {
    cursor: grab;
}

.group-table {
    --table-row-size: 36px !important;
}

.summary-row {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 6px;
        transform: translateX(-6px);
        background-color: rgb(255, 255, 255);
    }
}

.summary-cell {
    border: 1px solid $tableBorderClr;
    border-block-start: none;
    border-inline-start: none;
}

.summary-cell-1 {
    border-inline-start: 1px solid $tableBorderClr;
    border-bottom-left-radius: 8px;
    position: relative;
}

.summary-cell-0 {
    border: none;
    background-color: rgb(255, 255, 255) !important;
    position: sticky;
    left: -40px;
    opacity: 0.9;
    z-index: 1;
}

.summary-cell-files {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 0.875em;
}

.addCol-col {
    justify-content: start !important;
}
