.progress-bar {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transition: none;
        transform: scaleY(1.3);
    }
}

.drag-handle {
    cursor: grab;
}

.group-table {
    --table-row-size: 36px !important;
}
