.comments-container {
  margin-top: 55px;
  width: 750px;
  background-color: whitesmoke;
  border: 1px solid black;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;

  transition: right 0.3s ease;
  z-index: 1000 !important;
}
.open {
  right: 0;
}
.close-btn {
  position: absolute;
  top: 15px;
  font-size: 14px;
  color: #323338;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #67687973;
  }
}
.task-title {
  font-family: $font-family-primary;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: #323338;

  border-radius: 4px;
}

.update-btn {
  font-family: $font-family-primary;
  font-size: 16px;
  margin-top: 2px;
  margin-left: 642px;
  background-color: #0073ea;
  color: #ffffff;
  text-align: start;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  outline: none;
  &:hover {
    background-color: #0663c7;
  }
}
// Update container//

.update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  // margin: 0 auto;
}

.text-area-update {
  margin-top: 20px;
  padding: 0 5px;
  margin-right: 20px;
  width: 100%;
}

.no-update-img {
  margin: 80px auto;
  width: 350px;
  margin-bottom: 10px;
}
.no-update-header {
  font-family: $font-family-primary;
  text-align: center;
  line-height: 32px;
  margin: 0;
  font-size: 1.5rem;
  color: #323338;
}

.no-update-p {
  font-family: $font-family-primary;
  font-size: 16px;
  margin-top: 5px;
  color: #323338;
  line-height: 20px;
  max-width: 500px;
}

/* styles.css */
.comments-section {
  width: 100%;

  margin: 10px 0;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comment-item {
  width: 700px;
  display: flex;
  align-items: flex-start;
  text-align: start;
  padding: 10px 0;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  border-radius: 4px;
}

.custom-avatar {
  margin-right: 15px;
  margin-left: 10px;
}

.comment-body {
  flex: 1;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
}

.comment-time {
  margin-right: 6px;
  color: #888;
  font-size: 0.875rem;
}

.comment-text {
  margin: 0;
}

.comment-actions {
  margin-top: 5px;
}

//Files Cmp

.empty-state-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px;
}
.empty-state-image {
  margin: 80px auto;
  width: 350px;
}
.add-file-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.add-file-p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.add-files-btn {
  font-family: $font-family-primary;
  font-size: 16px;
  background-color: #0073ea;
  color: #ffffff;
  text-align: start;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  outline: none;
  &:hover {
    background-color: #0663c7;
  }
}

.msg-count {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 9px;
  right: -1px;
  background-color: #0073ea;
  border-radius: 10px;
  color: #ffffff;

  padding: 2px 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 9px;
}
