.task-preview-container {
    position: relative;
    cursor: grab;
    &:hover {
        .task-preview-menu-btn {
            opacity: 1;
            translate: -40px;
        }
        .table-cell.status-col,
        .table-cell.priority-col {
            opacity: 0.85;
        }
    }
}

.task-preview-menu-btn {
    width: 40px;
    height: 40px;
    display: flex;
    margin: auto;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.sticky-col {
    background-color: white;
    position: sticky;
    z-index: 1;
}
.checkbox-col,
.table-header-checkbox {
    background-color: white;
    position: sticky;
    z-index: 1;
}

.checkbox-col {
    &.disable {
        background-color: white;
        z-index: 1;
        width: 50px;
        opacity: 0.8;
    }
}

.table-header-checkbox {
    border-block-start: 1px solid $tableBorderClr;
    border-inline-end: 1px solid $tableBorderClr;
}

.table-header-cell,
.table-cell {
    border-inline-end: 1px solid $tableBorderClr;
}

.table-header-cell {
    border-block-start: 1px solid $tableBorderClr;
}

.table-cell.status-col,
.table-cell.priority-col {
    padding: 0;
    font-size: 0.875em;
}

.task-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.task-row-title {
    width: 100%;
}

.task-row-comments {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        left: -20px;
        width: 1px;
        height: 36px;
        background-color: $tableBorderClr;
    }
}

.status-cell,
.priority-cell {
    position: relative;

    .corner-fold {
        position: absolute;
        right: 0;
        top: 0;
        border-color: rgba(0, 0, 0, 0.2) #fff;
        border-style: solid;
        border-width: 0;
        transition: border-width 0.3s ease 0.2s;
    }

    &:hover .corner-fold {
        border-width: 0 10px 10px 0;
    }
}

.open-btn-container .open-btn {
    display: none;
}
.task-row-title:hover .open-btn {
    display: block;
    cursor: pointer;
}

.description-col {
    cursor: text;
}
