.task-preview-container {
    position: relative;
    cursor: grab;
    &:hover {
        .task-preview-menu-btn {
            opacity: 1;
        }
        .table-cell.status-col,
        .table-cell.priority-col {
            opacity: 0.85;
        }
    }
}

.task-preview-menu-btn {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.sticky-col {
    position: sticky;
    left: 0;
    background-color: #fff;
}

.table-header-cell,
.table-cell {
    border-inline-end: 1px solid #d0d4e4;
}

.table-cell.status-col,
.table-cell.priority-col {
    padding: 0;
    font-size: 0.875em;
}
