@keyframes slideIn {
    from {
        right: -570px;
    }
    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -1000px;
    }
}

.root-activity-modal {
    position: fixed;
    right: -570px;
    top: 3.5rem;
    z-index: 10;
    background-color: whitesmoke;
    transition: right 0.3s ease;
    animation: slideOut 0.3s forwards;

    // .tabs-container {
    //     display: flex;
    //     width: 100%;
    // }
    
}

.root-activity-modal.open {
    animation: slideIn 0.3s forwards;
}

.root-activity-modal.close {
    animation: slideOut 0.3s forwards;
}

.activity-modal-popover {


.close-btn:hover {
    background-color: #67687973;
}

.tab-content {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.update-btn {
    font-family: $font-family-primary;
    font-size: 16px;
    background-color: #0073ea;
    color: #ffffff;
    text-align: start;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.update-btn:hover {
    background-color: #0663c7;
}

.update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
    width: 100%;
}

.text-area-update {
    margin-top: 20px;
    width: 100%;
    .text-area :nth-child(1) {
        resize: none;
        border-radius: 8px;
    }
}

.no-comments {
    text-align: center;
    margin-top: 32px;
}

.no-update-img {
    margin: 80px auto;
    width: 350px;
    margin-bottom: 10px;
}

.no-update-header {
    font-family: $font-family-primary;
    text-align: center;
    line-height: 32px;
    margin: 0;
    font-size: 1.5rem;
    color: #323338;
}

.no-update-p {
    font-family: $font-family-primary;
    font-size: 16px;
    margin-top: 5px;
    color: #323338;
    line-height: 20px;
    max-width: 500px;
}

.comments-section {
    width: 100%;
    margin: 10px 0;
    max-height: 600px;
    overflow: auto;
}

.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    text-align: start;
    padding: 10px 0;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    border-radius: 4px;
}

.custom-avatar {
    margin-right: 15px;
    margin-left: 10px;
}

.comment-body {
    flex: 1;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-author {
    font-weight: bold;
}

.comment-time {
    margin-right: 6px;
    color: #888;
    font-size: 0.875rem;
}

.comment-text {
    margin: 0;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.empty-state-image {
    margin: 80px auto;
    width: 350px;
}

.add-file-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.add-file-p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.add-files-btn {
    font-family: $font-family-primary;
    font-size: 16px;
    background-color: #0073ea;
    color: #ffffff;
    text-align: start;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    outline: none;
}

.add-files-btn:hover {
    background-color: #0663c7;
}

.msg-count {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 9px;
    right: -1px;
    background-color: #0073ea;
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 4px;
    font-size: 0.5625rem;
    line-height: 9px;
}
}