* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: $Mgray4;
}

body {
    // max-width: 1024px;
    margin: 0 auto;

    font-family: $font-family-primary;
    font-size: rem(18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-secondary;
    margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}
