* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    color: $Mgray4;
}

body {
    // max-width: 1024px;
    margin: 0 auto;
    padding: 0 auto;
    font-family: $font-family-primary;
    font-size: rem(18px);
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-secondary;
    letter-spacing: 0.05em; // Adding unit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.bold {
        @include vibe-heading(#{&}, $font-weight-bold);
    }
    &.normal {
        @include vibe-heading(#{&}, $font-weight-normal);
    }
    &.light {
        @include vibe-heading(#{&}, $font-weight-light);
    }
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

.scrollable {
    overflow: auto;
}
