button {
	border: 0;
	background-color: transparent;
	color: $Mgray4;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;

	&:hover {
		background-color: $Mbgr4;
	}
}

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $Mbgr4;
}
