// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #0073ea;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//MondayVars

$Mgray3: #676879;
$Mgray4: #323338;
$tableBorderClr: #d0d4e4;
//Background color

$Mbgr1: #ffffff;
$Mbgr2: #eceffa;
$Mbgr3: #ebecfb;
$Mbgr4: darken($Mbgr1, 10%);

$Mhover: #676879;
$Mfavorite: #ffcb00;

//Font

$font-family-primary: Figtree, Roboto, 'Noto Sans Hebrew', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
$font-family-secondary: Poppins, Roboto, 'Noto Sans Hebrew', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
